.detail {
	.inner {
		width: 100%;
		padding: 0px 100px 50px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		> div {
			ul {
				margin-bottom: 50px;
				h2 {
					margin-bottom: 20px;
				}
				li {
					margin-bottom: 10px;
				}
			}
		}
		.left {
			width: 380px;
			float: left;
			li {
				a {
					color: #000;
					transition: 0.5s;
					&:hover {
						color: #e98420;
					}
				}
				span {
					font-weight: bold;
					font-size: 16px;
					margin-right: 10px;
					margin-bottom: 5px;
				}
			}
		}
		.right {
			width: 600px;
			float: left;
			li {
				padding: 20px 0 30px;
				border-top: 1px solid #333;
				div {
					margin-bottom: 10px;
					h3 {
						margin-bottom: 20px;
					}
					a {
						display: inline-block;
						width: 100px;
						height: 23px;
						line-height: 23px;
						text-align: center;
						font-size: 15px;
						font-weight: bold;
						border-radius: 15px;
						background-color: #000;
						margin-right: 10px;
						margin-bottom: 10px;
						color: #efefef;
						transition: 0.5s;
						&:hover {
							background-color: #e98420;
						}
					}
				}
				p {
					font-size: 15px;
					line-height: 1.7;
				}
			}
		}
	}
}
